@inherits LayoutComponentBase
@using RPS.Web.Components
@using RPS.Web.Components.Pages


<TelerikRootComponent>
    <div class="container-fluid">
        <div class="row">

            <Appbar />

            <div class="col-12 d-flex">

                <MainMenu />

                <div class="col-12 p-4">

                    @Body

                </div>
            </div>
        </div>
    </div>

</TelerikRootComponent>



@code {

}
