<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <div class="container bg-white border rounded p-4">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <TelerikTextBox @bind-Value="Model.Title" class="form-control" id="title"></TelerikTextBox>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <TelerikTextArea @bind-Value="Model.Description" class="form-control" id="description"></TelerikTextArea>
        </div>
        <div class="form-group mb-3">
            <label for="estimate" class="form-label">Estimate</label>
            <TelerikNumericTextBox @bind-Value="Model.Estimate" class="form-control" id="estimate" Max="20" Min="1" Step="1"></TelerikNumericTextBox>
        </div>
        <div class="form-group mb-3">
            <label for="type" class="form-label">Item type</label>
            <TelerikDropDownList @bind-Value="Model.SelectedItemType" class="form-control" id="type" Data="@Model.ItemTypes"></TelerikDropDownList>
        </div>
        <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <TelerikDropDownList @bind-Value="Model.SelectedStatus" class="form-control" id="status" Data="@Model.Statuses"></TelerikDropDownList>
        </div>
        <div class="form-group mb-3">
            <label for="priority" class="form-label">Priority</label>
            <TelerikDropDownList @bind-Value="Model.SelectedPriority" class="form-control" id="priority" Data="@Model.Priorities"></TelerikDropDownList>
        </div>
        <div class="form-group mb-3">
            <label for="assignee" class="form-label">Assignee</label>
            <TelerikDropDownList @bind-Value="Model.SelectedAssigneeId" class="form-control" id="assignee" Data="@Model.Users" TextField="FullName" ValueField="Id"></TelerikDropDownList>
        </div>
        <div class="form-group mb-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>

<div>
    <NavLink href="Backlog">Back to List</NavLink>
</div>
