@page "/backlog"
@page "/backlog/{PresetParam}"

@using RPS.Web.Components.Backlog;
@using RPS.Web.Models;
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/backlog.css" />

<div class="container">
  <div class="row justify-content-between align-items-center mb-4">
    <div class="col">
      <h1 class="text-center text-md-left">Backlog</h1>
    </div>
    <div class="col-auto">
        <TelerikButtonGroup SelectionMode="Telerik.Blazor.ButtonGroupSelectionMode.Single">
                <ButtonGroupToggleButton OnClick="@(_ => SelectPreset("My"))">My Items</ButtonGroupToggleButton>
                <ButtonGroupToggleButton OnClick="@(_ => SelectPreset("Open"))">Open Items</ButtonGroupToggleButton>
                <ButtonGroupToggleButton OnClick="@(_ => SelectPreset("Closed"))">Closed Items</ButtonGroupToggleButton>
        </TelerikButtonGroup>
     </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="border bg-light p-3 mb-3">
        <NavLink href="Create" class="btn btn-primary">Add New Task</NavLink>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <Items PresetParam="@PresetParam" />
    </div>
  </div>
</div>

@code {
    [Parameter]
    public string PresetParam { get; set; }

}

@code {

    private void SelectPreset(string presetStr)
    {
        NavigationManager.NavigateTo($"/backlog/{presetStr.ToLower()}");
    }

}
