@page "/create"

<div class="container">
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col">
            <h1 class="text-center text-md-left">Add New Item</h1>
        </div>
    </div>
</div>

<EditForm Model="FormModel" OnValidSubmit="HandleValidSubmit">
    <div class="container bg-white border rounded p-4">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <TelerikTextBox @bind-Value="FormModel.Title" class="form-control" id="title"></TelerikTextBox>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <TelerikTextArea @bind-Value="FormModel.Description" class="form-control" id="description"></TelerikTextArea>
        </div>
        <div class="form-group mb-3">
            <label for="type" class="form-label">Item type</label>
            <TelerikDropDownList @bind-Value="FormModel.ItemType" class="form-control" id="type" Data="@FormModel.ItemTypes"></TelerikDropDownList>
        </div>
        <div class="form-group mb-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</EditForm>

<div>
    <NavLink href="Backlog">Back to List</NavLink>
</div>

@code {

}
