<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPS TRacker</title>
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    @*     <link rel="stylesheet" href="app.css" /> *@
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link rel="stylesheet" href="css/site.css" />

    <link rel="stylesheet" href="RPS.Web.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
