@inherits LayoutComponentBase

<TelerikRootComponent>
        <MainMenu2 />

        <div class="container-fluid">
            <div class="row">

                <SideMenu2 />
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    <Dashboard2 />

                </main>
            </div>

            <footer>
                <p>&copy; @DateTime.Now.Year - RPS</p>
            </footer>

        </div>
</TelerikRootComponent>
