<div style="width: 240px; height: 846px; border-right: 1px rgba(0, 0, 0, 0.08) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #068597; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 14px; height: 14px; left: 1px; top: 1px; position: absolute; background: white"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: white; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Dashboard</div>
  </div>
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 12px; height: 11px; left: 2px; top: 2px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Backlog</div>
  </div>
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: rgba(5.90, 133.20, 150.56, 0.08); justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 14px; height: 11px; left: 1px; top: 2px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Open Items</div>
  </div>
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 14px; height: 14px; left: 1px; top: 1px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Goals</div>
  </div>
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 14px; height: 14px; left: 1px; top: 1px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Reports</div>
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 10px; height: 6.06px; left: 3px; top: 4.94px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
  </div>
  <div style="width: 240px; height: 40px; padding-top: 8px; padding-bottom: 8px; padding-left: 48px; padding-right: 16px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Current Month</div>
  </div>
  <div style="width: 240px; height: 40px; padding-top: 8px; padding-bottom: 8px; padding-left: 48px; padding-right: 16px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Last Quarter</div>
  </div>
  <div style="width: 240px; height: 40px; padding-top: 8px; padding-bottom: 8px; padding-left: 48px; padding-right: 16px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Social Engagement</div>
  </div>
  <div style="width: 240px; height: 40px; padding-top: 8px; padding-bottom: 8px; padding-left: 48px; padding-right: 16px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Year-end Sale</div>
  </div>
  <div style="width: 240px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
    <div style="padding-top: 4px; padding-bottom: 4px; justify-content: center; align-items: center; display: flex">
      <div style="width: 16px; height: 16px; position: relative">
        <div style="width: 12px; height: 14px; left: 2px; top: 1px; position: absolute; background: #3D3D3D"></div>
      </div>
    </div>
    <div style="flex: 1 1 0; color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Users</div>
  </div>
</div>